<h1>Youngest director</h1>

<% matching_director= Director.where.not({ :dob => nil }).order({ :dob => :desc }) %>
<% the_director=matching_director.at(0) %>
<p> The youngest director in our dataset right now is
<a href="/directors/<%=the_director.id%>"> <%=the_director.name%> </a>, born on <%= the_director.dob.strftime("%B %d, %Y") %>
</p>
